@page "/"


<PageTitle>Student Alumni Tracker</PageTitle>
<style>
   button {
       color: #000000;
       background-color: #e9edc9;
       font-size: 19px;
       border: 4px solid #ccd5ae;
       border-radius: 15px;
       padding: 15px 50px;
       cursor: pointer;
       align-content:center
   }

       button:hover {
           color: #2d63c8;
           background-color: #ffffff;
       }
</style>

<h1>Hello world!</h1>


<div style="align-content:center">
   <img src="/css/Dan.png"/>
</div>

<hr/>

@*<form name="Alumni" method="get" action="/Alumni">
    <button type="submit">Alumni List</button>
 </form>

<form name="Profile" method="get" action="/Profile">
   <button type="submit">View/Edit Profile</button>
</form>*@